$white: #ffffff;
$primary-color: #1d2228;
$yellow: #fccc4c;
$red: #ed4e53;
$grey: #e5e5e5;
$box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
$text-grey: #9b9b9c;
$hover-yellow: #fff2d1;
$large: 992px;
$medium:770px;
$small: 576px;
%img-size {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
%overall-btns {
  box-shadow: 4px 3px 24px rgba(237, 78, 83, 0.5);
  padding: 1.2rem 3rem;
  background-color: $red;
  outline: none;
  border: none;
  border-radius: 2.5rem;
  color: $white;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 2.5rem;
  cursor: pointer;
}
%h4-title {
  color: $red;
  font-weight: 700;
  font-size: 1.7rem;
}
%h2-title {
  font-size: 4rem;
  line-height: 110%;
}
%subtitle {
  font-size: 1.6rem;
  line-height: 180%;
  opacity: 0.9;
}

@mixin breakpointMinMax($mn,$mx) {
  @media (min-width: $mn) and (max-width: $mx) {
    @content;
  }
}
@mixin breakpoint($mx) {
  @media (max-width: $mx) {
    @content;
  }
}
